*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: hsl(250deg, 60%, 98%);
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

ul {
  list-style: none;
}

h1,
h2,
h3 {
  color: hsl(250deg, 8%, 15%);
  font-weight: 500;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

/* start styling the scrollBar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #ddd;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  box-shadow: 0 0 3px #ddd inset;
  border: 2px #ddd solid;
  border-radius: 5px;
}

/* finish styling the scrollBar */
/* start styling the goes-up button */
#go-up {
  padding: 0.4em 0.5em;
  border-radius: 0.5em;
  background-color: hsl(7deg, 88%, 61%);
  color: #eee;
  position: fixed;
  right: 2em;
  bottom: -3em;
  opacity: 0;
  z-index: 100;
  transition: 0.3s;
}
#go-up.visible {
  bottom: 2em;
  opacity: 1;
}
#go-up:hover {
  background-color: hsl(7deg, 88%, 58%);
}

/* finish styling the goes-up button */
.section_padding {
  padding: 5em 2em;
}

.section_title,
.breadcrumb_subtitle {
  font-size: 2.25em;
}

.section_title,
.breadcrumb_title,
.breadcrumb_subtitle {
  text-align: center;
}

.d-nn {
  display: none;
}

.d-bl {
  display: block;
}

.d-fl {
  display: flex;
}

.d-gr {
  display: grid;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 576px) and (max-width: 767px) {
  .container {
    width: 550px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    width: 960px;
  }
}
@media (min-width: 1200px) and (max-width: 1399px) {
  .container {
    width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    width: 1300px;
  }
}

/* Start Styling The Header*/
header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 3.5em;
  background-color: hsl(250deg, 60%, 98%);
  transition: box-shadow 0.3s;
  z-index: 90;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: inherit;
}
header .container #logo {
  display: block;
  font-weight: 700;
}
@media (max-width: 575px) {
  header .container .pages-bar {
    display: none;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  header .container .pages-bar {
    display: none;
  }
}
header ul {
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 1.5em;
  text-transform: capitalize;
}
header ul li {
  height: 100%;
}
header ul li a {
  height: 2em;
  display: flex;
  align-items: center;
}
header ul li a:hover, header ul li a.active {
  color: hsl(7deg, 88%, 61%);
  position: relative;
}
header ul li a.active::after {
  content: "";
  width: 3px;
  height: 3px;
  border-radius: 50%;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: hsl(7deg, 88%, 58%);
}
header ul.user-bar li {
  cursor: pointer;
}
@media (max-width: 575px) {
  header ul.user-bar li {
    display: block;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  header ul.user-bar li {
    display: block;
  }
}
header .aside-pages-bar {
  position: fixed;
  top: 0;
  right: -26em;
  height: 100vh;
  width: 25em;
  background-color: hsl(250deg, 60%, 98%);
  padding: 1em;
  transition: 0.3s;
  box-shadow: -3px 0 3px hsla(0deg, 0%, 15%, 0.1);
}
header .aside-pages-bar ul {
  flex-direction: column;
}
header .aside-cart {
  position: fixed;
  top: 0;
  right: -26em;
  height: 100vh;
  width: 25em;
  background-color: hsl(250deg, 60%, 98%);
  padding: 1em;
  transition: 0.3s;
  box-shadow: -3px 0 3px hsla(0deg, 0%, 15%, 0.1);
}
header .aside-cart .chosen-products {
  max-height: 65vh;
  margin-bottom: 2em;
  overflow: auto;
}
header .aside-cart .chosen-products .chosen-product {
  height: 7em;
  gap: 1em;
}
header .aside-cart .chosen-products .chosen-product:not(:last-of-type) {
  margin-bottom: 1em;
}
header .aside-cart .chosen-products .chosen-product .img {
  width: 7em;
  height: 100%;
  background-color: #fff;
  padding: 0.5em;
}
header .aside-cart .chosen-products .chosen-product .img img {
  display: block;
}
header .aside-cart .chosen-products .chosen-product .details {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
}
header .aside-cart .chosen-products .chosen-product .details h3 {
  text-transform: capitalize;
}
header .aside-cart .chosen-products .chosen-product .details .price {
  color: hsl(7deg, 88%, 61%);
}
header .aside-cart .chosen-products .chosen-product .details .controls {
  display: flex;
  font-size: 1.25em;
  color: hsl(250deg, 8%, 35%);
}
header .aside-cart .chosen-products .chosen-product .details .controls .minus,
header .aside-cart .chosen-products .chosen-product .details .controls .plus {
  background-color: #fff;
  padding: 0 12px;
  border-radius: 5px;
}
header .aside-cart .chosen-products .chosen-product .details .controls .amount {
  padding: 0 0.5em;
}
header .aside-cart .chosen-products .chosen-product .details .controls .bx-trash {
  margin-left: auto;
  color: hsl(7deg, 88%, 61%);
}
header .aside-cart .chosen-products .chosen-product .details .controls .bx-trash:hover {
  color: hsl(7deg, 88%, 58%);
}
header .aside-cart .chosen-products .chosen-product .details .controls .minus,
header .aside-cart .chosen-products .chosen-product .details .controls .plus,
header .aside-cart .chosen-products .chosen-product .details .controls .bx-trash {
  cursor: pointer;
}
header .aside-cart .final-details {
  display: flex;
  justify-content: space-between;
}
header .close-icon {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: xx-small;
  margin-left: auto;
  margin-bottom: 2em;
  cursor: pointer;
}
header .close-icon + h2 {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1.5em;
  color: hsl(250deg, 8%, 15%);
}
header .aside-register {
  position: fixed;
  top: 0;
  right: -26em;
  height: 100vh;
  width: 25em;
  background-color: hsl(250deg, 60%, 98%);
  padding: 1em;
  transition: 0.3s;
  box-shadow: -3px 0 3px hsla(0deg, 0%, 15%, 0.1);
}
header .aside-register form input {
  display: block;
  width: 100%;
  height: 4em;
  margin-bottom: 1em;
  background-color: #fff;
  outline: none;
  border: none;
  padding-left: 1.5em;
}
header .aside-register form input[type=submit] {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1.5em 2.5em;
  border-radius: 0.3em;
  text-transform: uppercase;
  background-color: hsl(7deg, 88%, 61%);
  display: flex;
  align-items: center;
  color: #eee;
  cursor: pointer;
}
header .aside-register form input[type=submit]:hover {
  background-color: hsl(7deg, 88%, 58%);
}
@media (max-width: 767px) {
  header .aside-register form input[type=submit] {
    font-size: 0.875em;
  }
}
header .aside-register form button {
  background-color: transparent;
  border: none;
  color: hsl(7deg, 88%, 61%);
}

/* finish Styling The Header*/
footer {
  box-shadow: 0 0px 5px hsla(0deg, 0%, 15%, 0.1);
}
footer .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1em;
  padding: 2em 15px 2.5em;
}
footer .container div .logo,
footer .container div .logo a {
  margin-top: 0;
}
footer .container div .social-media {
  display: flex;
  gap: 0.5em;
}
footer .container div a {
  display: block;
  margin: 1em 0;
  transition: color 0.3s;
  color: hsl(250deg, 8%, 15%);
}
footer .container div a:hover {
  color: #000;
}
footer .container p,
footer .container .about a,
footer .container .our-services a,
footer .container .our-company a {
  text-transform: capitalize;
  font-weight: 500;
}
footer > p {
  text-align: center;
  padding: 0.5em;
}
footer > p a,
footer > p .bx {
  color: hsl(7deg, 88%, 61%);
}/*# sourceMappingURL=style.css.map */