@use "./variables" as *;

// media querys mixin
@mixin breakpoint($point) {
  @if $point == xs {
    @media (max-width: 575px) {
      @content;
    }
  } @else if $point == sm {
    @media (min-width: 576px) and (max-width: 767px) {
      @content;
    }
  } @else if $point == md {
    @media (min-width: 768px) and (max-width: 991px) {
      @content;
    }
  } @else if $point == lg {
    @media (min-width: 992px) and (max-width: 1199px) {
      @content;
    }
  } @else if $point == xl {
    @media (min-width: 1200px) {
      @content;
    }
  } @else if $point == xxl {
    @media (min-width: 1400px) {
      @content;
    }
  }
}

@mixin sameAnchore(
  $clr: $clr,
  $bg-clr: $first-clr,
  $hv-bg-clr: $first-clr-alt
) {
  width: fit-content;
  height: 4em;
  padding: 0 2.5em;
  border-radius: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  background-color: $bg-clr;
  color: $clr;
  cursor: pointer;

  &:hover {
    background-color: $hv-bg-clr;
  }
}

@mixin styleAside {
  position: fixed;
  top: 0;
  right: -26em;
  height: 100vh;
  width: 25em;
  background-color: $body-clr;
  padding: 1em;
  transition: $main-transition;
  box-shadow: -3px 0 3px $shadow;
}
