@use "./variables" as *;

.section_padding {
  padding: 7em 0 2em;
}

.section_title,
.breadcrumb_subtitle {
  font-size: $h1-font-size;
}

.section_title,
.breadcrumb_title,
.breadcrumb_subtitle {
  text-align: center;
}

.d-nn {
  display: none;
}

.d-bl {
  display: block;
}

.d-fl {
  display: flex;
}

.d-gr {
  display: grid;
}
