// // // colors
$clr: #eee;
$title-clr: hsl(250, 8%, 15%);
$text-clr: hsl(250, 8%, 35%);
$body-clr: hsl(250, 60%, 98%);
$section-clr: #fff;
$shadow: hsla(0, 0%, 15%, 0.1);
$hue: 0;
$first-clr: hsl($hue, 88%, 61%);
$first-clr-alt: hsl($hue, 88%, 58%);

// // // Font And Typography
$body-font: "Poppins", sans-serif;
$biggest-font-size: 4em;
$h1-font-size: 2.25em;
$h2-font-size: 1.5em;
$h3-font-size: 1.25em;
$normal-font-size: 1em;
$small-font-size: 0.875em;
$smaller-font-size: 0.813em;

// // // Font Weight
$rg-font: 500;
$md-font: 500;
$sm-bold-font: 600;
$bold-font: 700;

// // // Margins
$mg-0-5: 0.5em;
$mg-0-75: 0.75em;
$mg-1: 1em;
$mg-1-5: 1.5em;
$mg-2: 2em;
$mg-2-5: 2.5em;
$mg-3: 3em;

// // // Transition
$main-transition: 0.3s;

// // // Z-index
$z-header: 90;
$z-tooltip: 100;
$z-fixed: 99;

// // // Responsive Typography
@media screen and (max-width: 991px) {
  $biggest-font-size: 4em;
  $h1-font-size: 2.25em;
  $h2-font-size: 1.5em;
  $h3-font-size: 1.25em;
  $normal-font-size: 1em;
  $small-font-size: 0.875em;
  $smaller-font-size: 0.813em;
}
