@use "../helpers/variables" as *;

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: $main-bg-clr;
  font-family: "Inter", sans-serif;
  height: 200vh;
}

ul {
  list-style: none;
}

/* start styling the scrollBar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #ddd;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  box-shadow: 0 0 3px #ddd inset;
  border: 2px #ddd solid {
    radius: 5px;
  }
}
/* finish styling the scrollBar */
/* start styling the goes-up button */
#go-up {
  padding: 0.5em;
  border-radius: 0.5em;
  background-color: $alternative-bg-clr;
  position: fixed;
  right: 2em;
  bottom: -3em;
  opacity: 0;
  transition: $main-transition;

  &.visible {
    bottom: 2em;
    opacity: 1;
  }
}
