@use "../helpers/mixins" as *;
@use "../helpers/variables" as *;

/* Start Styling The Header*/
header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 3.5em;
  width: 100%;
  background-color: $body-clr;
  transition: box-shadow $main-transition;
  z-index: $z-header;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: inherit;

    #logo {
      display: block;
      font-weight: $bold-font;
    }

    .pages-bar {
      @include breakpoint((xs, sm)) {
        display: none;
      }
    }
  }

  ul {
    font-weight: $md-font;
    display: flex;
    align-items: center;
    gap: 1.5em;
    text-transform: capitalize;

    li {
      height: 100%;
      a {
        height: 2em;
        display: flex;
        align-items: center;

        &:hover,
        &.active {
          color: $first-clr;
          position: relative;
        }

        &.active::after {
          content: "";
          width: 3px;
          height: 3px;
          border-radius: 50%;
          position: absolute;
          top: 100%;
          left: 50%;
          transform: translateX(-50%);
          background-color: $first-clr-alt;
        }
      }
    }

    &.user-bar {
      li {
        cursor: pointer;
        @include breakpoint((xs, sm)) {
          display: block;
        }
        i {
          display: block;
        }
      }
    }
  }

  .aside-pages-bar {
    @include styleAside;
    ul {
      flex-direction: column;
    }
  }

  .aside-cart {
    @include styleAside;
    .chosen-products {
      // min-height: 20vh;
      max-height: 65vh;
      margin-bottom: $mg-2;
      overflow: auto;

      .chosen-product {
        height: 7em;
        gap: 1em;
        &:not(:last-of-type) {
          margin-bottom: $mg-1;
        }

        .img {
          width: 7em;
          height: 100%;
          background-color: $section-clr;
          padding: 0.5em;

          img {
            display: block;
          }
        }

        .details {
          flex-grow: 1;
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 1em;

          h3 {
            text-transform: capitalize;
          }

          .price {
            color: $first-clr;
          }

          .controls {
            display: flex;
            // align-items: center;
            font-size: $h3-font-size;
            color: $text-clr;

            .minus,
            .plus {
              background-color: $section-clr;
              padding: 0 12px;
              border-radius: 5px;
            }

            .amount {
              padding: 0 0.5em;
            }

            .bx-trash {
              margin-left: auto;
              color: $first-clr;

              &:hover {
                color: $first-clr-alt;
              }
            }

            .minus,
            .plus,
            .bx-trash {
              cursor: pointer;
            }
          }
        }
      }
    }

    .final-details {
      display: flex;
      justify-content: space-between;
    }
  }

  .close-icon {
    width: fit-content;
    margin: {
      left: auto;
      bottom: $mg-2;
    }
    cursor: pointer;

    // i {
    //   display: block;
    // }

    + h2 {
      text-transform: uppercase;
      text-align: center;
      margin-bottom: $mg-1-5;
      color: $title-clr;
    }
  }

  @include breakpoint((xs, sm)) {
    .close-icon,
    .bx {
      font-size: $h3-font-size !important;
    }
  }

  .aside-register {
    @include styleAside;

    form {
      input {
        display: block;
        width: 100%;
        height: 4em;
        margin-bottom: $mg-1;
        background-color: $section-clr;
        outline: none;
        border: none;
        padding-left: 1.5em;

        &[type="submit"] {
          @include sameAnchore;
        }
      }
      button {
        background-color: transparent;
        border: none;
        color: $first-clr;
      }
    }
  }
}
/* finish Styling The Header*/
