/* Start styling the home page */
#interface {
  width: 100%;
  min-height: calc(100vh - 3em);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#interface .slider-container {
  position: relative;
  width: 100%;
  height: 450px;
}
#interface .slider-container .slide {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  gap: 1em;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s;
}
#interface .slider-container .slide.active {
  opacity: 1;
  z-index: 1;
}
#interface .slider-container .slide > div {
  flex-basis: 50%;
}
#interface .slider-container .slide > div img {
  display: block;
  margin: auto;
}
#interface .slider-container .slide .info {
  position: relative;
}
#interface .slider-container .slide .info h3, #interface .slider-container .slide .info h1 {
  text-transform: uppercase;
  color: hsl(250deg, 8%, 15%);
}
#interface .slider-container .slide .info h1 {
  width: 200px;
}
#interface .slider-container .slide .info p {
  color: hsl(250deg, 8%, 35%);
}
#interface .slider-container .slide .info .product-actions {
  position: absolute;
  bottom: 10%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#interface .slider-container .slide .info .product-actions a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1.5em 2.5em;
  border-radius: 0.3em;
  text-transform: uppercase;
  background-color: hsl(7deg, 88%, 61%);
  display: flex;
  align-items: center;
  color: #eee;
  cursor: pointer;
}
#interface .slider-container .slide .info .product-actions a:hover {
  background-color: hsl(7deg, 88%, 58%);
}
@media (max-width: 767px) {
  #interface .slider-container .slide .info .product-actions a {
    font-size: 0.875em;
  }
}
#interface .slider-container .slide .info .product-actions a:nth-child(2) {
  background-color: transparent;
  color: #000;
  font-weight: 500;
  padding: 0 1em;
}

.swiper-container {
  overflow: hidden;
}

.slider-controls {
  display: flex;
  justify-content: center;
  margin-top: 1em;
  gap: 5px;
}
.slider-controls span,
.slider-controls .swiper-pagination-bullet {
  width: 1em;
  height: 6px;
  border-radius: 3px;
  background-color: hsl(250deg, 8%, 35%);
  opacity: 1;
  transition: width 0.3s;
  cursor: pointer;
}
.slider-controls span.active, .slider-controls span.swiper-pagination-bullet-active,
.slider-controls .swiper-pagination-bullet.active,
.slider-controls .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: hsl(250deg, 8%, 15%);
  width: 2em;
  outline: none;
}

#discount-section div {
  display: flex;
  justify-content: space-evenly;
  background-color: #fff;
  border-radius: 3em;
  padding: 1em 0;
}
#discount-section div > * {
  flex-basis: 30%;
}
#discount-section div img {
  width: 200px;
  display: block;
}
#discount-section div .info {
  display: grid;
  place-content: center;
  gap: 2em;
}
#discount-section div .info h1 {
  width: 260px;
  margin: auto;
  text-align: center;
}
#discount-section div .info a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1.5em 2.5em;
  border-radius: 0.3em;
  text-transform: uppercase;
  background-color: hsl(7deg, 88%, 61%);
  display: flex;
  align-items: center;
  color: #eee;
  cursor: pointer;
  margin: auto;
}
#discount-section div .info a:hover {
  background-color: hsl(7deg, 88%, 58%);
}
@media (max-width: 767px) {
  #discount-section div .info a {
    font-size: 0.875em;
  }
}

#new-arrivals {
  text-align: center;
}
#new-arrivals h1::first-letter {
  text-transform: uppercase;
}
#new-arrivals .new-products {
  position: relative;
  background-color: #fff;
  border-radius: 2em;
  padding: 1em;
}
#new-arrivals .new-products .new-product {
  background-color: hsl(250deg, 60%, 98%);
  border-radius: 1em;
  overflow: hidden;
  height: 23em;
  display: flex;
  flex-direction: column;
  position: relative;
}
#new-arrivals .new-products .new-product::before {
  content: "New";
  position: absolute;
  left: 10px;
  top: 10px;
  padding: 2px 6px;
  background-color: hsl(7deg, 88%, 61%);
  color: #eee;
  border-radius: 5px;
}
#new-arrivals .new-products .new-product .img {
  position: relative;
  flex-basis: calc(100% - 120px);
}
#new-arrivals .new-products .new-product .img img {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  height: 90%;
}
#new-arrivals .new-products .new-product .info {
  flex-basis: 120px;
  justify-self: flex-end;
}
#new-arrivals .new-products .new-product .info h2 {
  text-transform: capitalize;
}
#new-arrivals .new-products .new-product .info h2 + span {
  margin: 0.5em 0;
}
#new-arrivals .new-products .new-product .info .b-a-price {
  justify-content: center;
  gap: 1em;
}
#new-arrivals .new-products .new-product .info .b-a-price span {
  color: gray;
  font-weight: 500;
}
#new-arrivals .new-products .new-product .info .b-a-price del {
  color: hsl(7deg, 88%, 61%);
}
#new-arrivals .new-products .new-product .info .cart {
  display: block;
  width: 2.3em;
  margin-left: auto;
  padding: 0.5em;
  background-color: hsl(7deg, 88%, 61%);
  color: #eee;
  border-top-left-radius: 1em;
  position: relative;
  right: -3em;
  transition: 0.3s;
  cursor: pointer;
}
#new-arrivals .new-products .new-product .info .cart .bx-cart-alt {
  font-size: 1.3em;
}
#new-arrivals .new-products .new-product:hover .cart {
  right: 0;
}

#order-steps ::first-letter {
  text-transform: uppercase;
}
#order-steps > h1 {
  max-width: 13em;
  margin: 0 auto 1em;
}
#order-steps .order-system {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1em;
}
#order-steps .order-system > div {
  background-color: #fff;
  padding: 1.5em;
  border-radius: 1em 0;
}
#order-steps .order-system > div h1 {
  background-color: hsl(7deg, 88%, 61%);
  color: #eee;
  border-radius: 0.3em;
  padding: 0.4em 0;
  width: 2em;
  text-align: center;
  transition: translate 0.3s;
}
#order-steps .order-system > div:hover h1 {
  translate: 0 -5px;
  background-color: hsl(7deg, 88%, 58%);
}
#order-steps .order-system > div h2 {
  color: hsl(250deg, 8%, 15%);
  margin-bottom: 0.5em;
}
#order-steps .order-system > div p {
  color: hsl(250deg, 8%, 35%);
}

#news-letter p {
  text-align: center;
}
#news-letter form {
  max-width: 30em;
  height: 4em;
  margin: 1em auto 0;
  box-shadow: 0 0 5px hsla(0deg, 0%, 15%, 0.1);
  border-radius: 1em;
  overflow: hidden;
  position: relative;
}
#news-letter form input {
  position: absolute;
  height: 100%;
  outline: none;
  border: none;
}
#news-letter form input[type=email] {
  width: 100%;
  padding-left: 1em;
}
#news-letter form input[type=submit] {
  width: 30%;
  height: 80%;
  right: 0.5em;
  top: 50%;
  translate: 0 -50%;
  border-radius: 0.5em;
  background-color: hsl(7deg, 88%, 61%);
  color: #eee;
  cursor: pointer;
}
#news-letter form input[type=submit]:hover {
  background-color: hsl(7deg, 88%, 58%);
}

@media (max-width: 767px) {
  #interface .slider-container .slide {
    flex-direction: column;
  }
  #interface .slider-container .slide img {
    width: 40%;
  }
  #interface .slider-container .slide .info h3, #interface .slider-container .slide .info h1 {
    font-size: 1em;
  }
  #interface .slider-container .slide .info h1 {
    width: 100%;
    margin-bottom: 1.5em;
    font-size: 1.25em;
  }
  #interface .slider-container .slide .info p {
    margin: 1em 0;
  }
  #interface .slider-container .slide .info .product-actions {
    position: initial;
  }
  #discount-section div {
    flex-direction: column;
  }
  #discount-section div img {
    margin: auto;
  }
  #discount-section div h1 {
    font-size: 1.5em;
  }
}/*# sourceMappingURL=home.css.map */