@use "../sass/helpers/variables" as *;
@use "../sass/helpers/mixins" as *;
/* Start styling the home page */
#interface {
  width: 100%;
  min-height: calc(100vh - 3em);
  display: flex;
  flex-direction: column;
  place-items: center;
  justify-content: center;
  gap: 5px;

  .slider-container {
    position: relative;
    width: 100%;
    height: 450px;

    .slide {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      gap: 1em;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: opacity $main-transition;

      &.active {
        opacity: 1;
        z-index: 1;
      }

      > div {
        flex-basis: 50%;

        img {
          display: block;
          margin: auto;
        }
      }

      .info {
        position: relative;

        h3 {
          text-transform: uppercase;
          color: $title-clr;
        }

        h1 {
          @extend h3;
          width: 200px;
        }

        p {
          color: $text-clr;
        }
        .product-actions {
          position: absolute;
          bottom: 10%;
          width: 100%;
          display: flex;
          justify-content: space-between;

          a {
            @include sameAnchore;

            &:nth-child(2) {
              background-color: transparent;
              color: #000;
              font-weight: $md-font;
              padding: 0 1em;
            }
          }
        }
      }
    }
  }
}
.swiper-container {
  overflow: hidden;
}
.slider-controls {
  display: flex;
  justify-content: center;
  margin-top: $mg-1;
  gap: 5px;

  span {
    width: 1em;
    height: 6px;
    border-radius: 3px;
    background-color: $text-clr;
    transition: width $main-transition;
    cursor: pointer;

    &.active {
      background-color: $title-clr;
      width: 2em;
    }
  }
}

#discount-section {
  display: flex;
  justify-content: space-evenly;
  background-color: #fff;
  border-radius: 3em;
  margin-bottom: $mg-3;
  padding: 1em 0;

  > * {
    flex-basis: 30%;
  }

  img {
    width: 300px;
    display: block;
  }

  .info {
    display: grid;
    place-content: center;
    gap: 2em;

    h1 {
      width: 260px;
      margin: auto;
      text-align: center;
    }

    a {
      @include sameAnchore($clr, $first-clr-alt);
      margin: auto;
    }
  }
}

#new-arrivals {
  margin: 5em 0;
  text-align: center;

  h1 {
    text-transform: uppercase;
  }

  .new-products {
    background-color: $section-clr;
    border-radius: 2em;
    padding: 1em;

    .new-product {
      background-color: $body-clr;
      border-radius: 1em;
      .img img {
        width: 80%;
      }

      h2 {
        text-transform: capitalize;

        + span {
          margin: $mg-0-5 0;
        }
      }

      .b-a-price {
        justify-content: center;
        gap: 1em;
        span {
          color: gray;
        }
        del {
          color: $first-clr;
        }
      }
    }
  }
}
