/* Start styling the home page */
#interface {
  width: 100%;
  height: calc(100vh - 3em);
  display: flex;
  flex-direction: column;
  place-items: center;
  justify-content: center;
  gap: 5px;
}
#interface .slider-container {
  position: relative;
  width: 100%;
  height: 450px;
}
#interface .slider-container .slide {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  gap: 1em;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s;
}
#interface .slider-container .slide.active {
  opacity: 1;
  z-index: 1;
}
#interface .slider-container .slide > div {
  flex-basis: 50%;
}
#interface .slider-container .slide > div img {
  display: block;
  margin: auto;
}
#interface .slider-container .slide .info {
  position: relative;
}
#interface .slider-container .slide .info h3, #interface .slider-container .slide .info h1 {
  text-transform: uppercase;
}
#interface .slider-container .slide .info h1 {
  width: 200px;
}
#interface .slider-container .slide .info .product-actions {
  position: absolute;
  bottom: 10%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#interface .slider-container .slide .info .product-actions a {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1.5em 3em;
  border-radius: 1em;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0);
  color: black;
}
#interface .slider-container .slide .info .product-actions a:first-child {
  background-color: hsl(0deg, 88%, 58%);
  color: #eee;
}
#interface .slider-controls {
  display: flex;
  gap: 5px;
}
#interface .slider-controls li {
  width: 1em;
  height: 6px;
  border-radius: 3px;
  background-color: #aaa;
  transition: width 0.3s;
}
#interface .slider-controls li.active {
  width: 2em;
  height: 6px;
}

#discount-section {
  display: flex;
  justify-content: space-evenly;
  background-color: #fff;
  border-radius: 3em;
  margin-bottom: 3em;
  padding: 1em 0;
}
#discount-section > * {
  flex-basis: 30%;
}
#discount-section img {
  width: 300px;
  display: block;
}
#discount-section .info {
  display: grid;
  place-content: center;
  gap: 2em;
}
#discount-section .info h1 {
  width: 260px;
  margin: auto;
  text-align: center;
}
#discount-section .info a {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1.5em 3em;
  border-radius: 1em;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  background-color: hsl(0deg, 88%, 58%);
  color: #eee;
  margin: auto;
}

#new-arrivals {
  text-align: center;
}
#new-arrivals .new-products {
  height: 350px;
  width: 100%;
  background-color: #fff;
  border-radius: 3em;
  display: flex;
  gap: 1em;
}
#new-arrivals .new-products .new-product {
  height: 100%;
}
#new-arrivals .new-products .new-product img {
  width: 100%;
}
#new-arrivals .new-products .new-product h2 {
  text-transform: capitalize;
}
#new-arrivals .new-products .new-product span {
  color: gray;
}
#new-arrivals .new-products .new-product del {
  color: orangered;
}/*# sourceMappingURL=home.css.map */