@use "../sass/helpers/variables" as *;
@use "../sass/helpers/mixins" as *;
/* Start styling the home page */
#interface {
  width: 100%;
  min-height: calc(100vh - 3em);
  display: flex;
  flex-direction: column;
  justify-content: center;

  .slider-container {
    position: relative;
    width: 100%;
    height: 450px;

    .slide {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      gap: 1em;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: opacity $main-transition;

      &.active {
        opacity: 1;
        z-index: 1;
      }

      > div {
        flex-basis: 50%;

        img {
          display: block;
          margin: auto;
        }
      }

      .info {
        position: relative;

        h3 {
          text-transform: uppercase;
          color: $title-clr;
        }

        h1 {
          @extend h3;
          width: 200px;
        }

        p {
          color: $text-clr;
        }

        .product-actions {
          position: absolute;
          bottom: 10%;
          width: 100%;
          display: flex;
          justify-content: space-between;

          a {
            @include sameAnchore;

            &:nth-child(2) {
              background-color: transparent;
              color: #000;
              font-weight: $md-font;
              padding: 0 1em;
            }
          }
        }
      }
    }
  }
}

.swiper-container {
  overflow: hidden;
}

.slider-controls {
  display: flex;
  justify-content: center;
  margin-top: $mg-1;
  gap: 5px;

  span,
  .swiper-pagination-bullet {
    width: 1em;
    height: 6px;
    border-radius: 3px;
    background-color: $text-clr;
    opacity: 1;
    transition: width $main-transition;
    cursor: pointer;
    outline: none;

    &.active,
    &.swiper-pagination-bullet-active {
      background-color: $title-clr;
      width: 2em;
    }
  }
}

#discount-section div {
  display: flex;
  justify-content: space-evenly;
  background-color: #fff;
  border-radius: 3em;
  padding: 1em 0;

  > * {
    flex-basis: 30%;
  }

  img {
    width: 200px;
    display: block;
  }

  .info {
    display: grid;
    place-content: center;
    gap: 2em;

    h1 {
      width: 260px;
      margin: auto;
      text-align: center;
    }

    a {
      @include sameAnchore;
      margin: auto;
    }
  }
}

#new-arrivals {
  text-align: center;

  h1::first-letter {
    text-transform: uppercase;
  }

  .new-products {
    position: relative;
    background-color: $section-clr;
    border-radius: 2em;
    padding: 1em;

    .new-product {
      background-color: $body-clr;
      border-radius: 1em;
      overflow: hidden;

      &::before {
        content: "New";
        position: absolute;
        left: 6px;
        top: 6px;
        padding: 2px 6px;
        background-color: $first-clr;
        color: $clr;
        border-radius: 5px;
      }

      .img img {
        width: 80%;
      }

      h2 {
        text-transform: capitalize;

        + span {
          margin: $mg-0-5 0;
        }
      }

      .b-a-price {
        justify-content: center;
        gap: 1em;
        span {
          color: gray;
        }
        del {
          color: $first-clr;
        }
      }

      .bx-cart-alt {
        display: block;
        width: fit-content;
        margin-left: auto;
        padding: $mg-0-5;
        background-color: $first-clr;
        color: $clr;
        border-top-left-radius: $mg-1;
        position: relative;
        right: -3em;
        transition: $main-transition;
      }

      &:hover .bx-cart-alt {
        right: 0;
      }
    }
  }
}

#order-steps {
  ::first-letter {
    text-transform: uppercase;
  }

  > h1 {
    max-width: 13em;
    margin: 0 auto 1em;
  }

  .order-system {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1em;

    > div {
      background-color: $section-clr;
      padding: 1.5em;
      border-radius: 1em 0;

      h1 {
        background-color: $first-clr;
        color: $clr;
        border-radius: 0.3em;
        padding: 0.4em 0;
        width: 2em;
        text-align: center;
        transition: translate $main-transition;
      }

      &:hover h1 {
        translate: 0 -5px;
        background-color: $first-clr-alt;
      }

      h2 {
        color: $title-clr;
        margin-bottom: $mg-0-5;
      }

      p {
        color: $text-clr;
      }
    }
  }
}

#news-letter {
  p {
    text-align: center;
  }
  form {
    max-width: 30em;
    height: 4em;
    margin: 1em auto 0;
    box-shadow: 0 0 5px $shadow;
    border-radius: 1em;
    overflow: hidden;
    position: relative;

    input {
      position: absolute;
      height: 100%;
      outline: none;
      border: none;

      &[type="email"] {
        width: 100%;
        padding-left: 1em;
      }

      &[type="submit"] {
        width: 30%;
        height: 80%;
        right: 0.5em;
        top: 50%;
        translate: 0 -50%;
        border-radius: 0.5em;
        background-color: $first-clr;
        color: $clr;
        cursor: pointer;

        &:hover {
          background-color: $first-clr-alt;
        }
      }
    }
  }
}

// // // responcive
@include breakpoint((xs, sm)) {
  .close-icon {
    font-size: $h3-font-size !important;
  }
  .bx {
    font-size: $h3-font-size !important;
  }

  #interface {
    .slider-container {
      .slide {
        flex-direction: column;

        img {
          width: 40%;
        }

        .info {
          h3 {
            font-size: $normal-font-size;
          }
          h1 {
            width: 100%;
            margin-bottom: $mg-1-5;
            font-size: $h3-font-size;
          }
          p {
            margin: 1em 0;
          }
          .product-actions {
            position: initial;
          }
        }
      }
    }
  }

  #discount-section div {
    flex-direction: column;

    img {
      margin: auto;
    }

    h1 {
      font-size: $h2-font-size;
    }
  }
}
